<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add movie</title>
</head>
<body>
<form th:action="@{/movie}" method="POST" th:object="${movie}">
    <p>
        Title
        <input type="text" th:field="*{title}"/>
    </p>
    <p>
        Genre
        <input type="text" th:field="*{genre}"/>
    </p>
    <p>
        Description
        <input type="text" th:field="*{description}"/>
    </p>
    <input type="submit" value="OK"/>
</form>
</body>
</html>
