<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Création de la facture</title>
</head>
<body>
<form th:action="@{/invoice/create}" method="POST" th:object="${invoiceForm}">
    <p>
        Customer name
        <input type="text" th:field="*{customerName}"/>
        <div th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></div>
    </p>
    <p>
        Order number
        <input type="text" th:field="*{orderNumber}"/>
        <div th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></div>
    </p>
    <input type="submit" value="OK"/>
</form>
</body>
</html>
